<%= form_for @list do |f| %>

  <div class="field">
    <%= f.label :name, 'Nome:' %>
    <%= f.text_field :name, placeholder: 'Nome da lista' %>
  </div>
  <div class="field">
    <%= f.label :is_public, 'Lista pública?' %>
    <%= f.check_box :is_public %>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.submit "Salvar", class: 'btn' %>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Cancelar', :back, class: 'btn btn-red btn-full-width' %>
    </div>
  </div>

  <div class="errors text-center m-10">
    <%= @list.errors.full_messages.first if @list.errors.any? %>
  </div>
<% end %>
