<div class="container">
  <h1>Todas as listas</h1>

  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Data de atualização</th>
      <th colspan="2"></th>
    </tr>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list_path(list) %></td>
        <td><%= list.updated_at %></td>
        <td>
          <%= link_to "Editar", edit_list_path(list) %>
        </td>
        <td>
          <%= link_to "Deletar", list_path(list), method: "delete", class: 'text-danger' %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
