
<div class="list-show">
  <h1 class='highlight'>
    <%= @list.name %>
  </h1>

  <div class="pull-right control-buttons">
    <% if is_author? %>
      <%= link_to "Editar", edit_list_path(@list), class: 'btn' %>
      <%= link_to "Deletar", list_path(@list), method: "delete", class: 'btn btn-red'%>
    <% end %>
  </div>

  <div class="clearfix"></div>

  <%= render 'musics/music_list' %>
</div>
