<div class="container">
  <div class="form-wrapper">
    <h2>Editar Perfil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Aguardando confirmação pelo email: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, 'Nova Senha: (informe caso deseje alterá-la)' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <!-- <% if @minimum_password_length %>
          <br />
          <em>Mínimo de <%= @minimum_password_length %> caracteres</em>
        <% end %> -->
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirmação da Senha' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password, 'Senha atual' %><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.submit "Salvar", class: 'btn btn-primary' %>
      </div>

    <% end %>

    <div class="field">
      <div class="row">
        <div class="col-xs-6">
          <%= button_to "Deletar conta", registration_path(resource_name), data: { confirm: "Deletar conta permanentement?" }, method: :delete, class: 'btn btn-red' %>
        </div>
        <div class="col-xs-6">
          <%= link_to "Voltar", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
