<div class="col-lg-7">
  <div class="form">

    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Usuário' %><br>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Senha' %><br>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirme sua senha" %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Finalizar', class: 'btn btn' %>
      </div>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
