<p id="notice"><%= notice %></p>

<div class="col-md-6">
  <h1><%= @user.name %></h1>

  <p>
    <%= @user.email %>
  </p>

  <p>
    <strong>Usuário desde:</strong>
    <%= @user.created_at %>
  </p>

  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Voltar', users_path %>
</div>

<div class="col-md-6">
  <% @user.lists.each do |list| %>
    <p><%= list.name %></p>
  <% end %>
</div>
