
<div class="form-wrapper">
  <h2>Entrar</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, 'Senha' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'Manter conectado' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Entrar", class: 'btn' %>
      <br>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
