// Place all the styles related to the Musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$yellow: #FADB3F;
$white: #efefef;
$darker: #1f1f1f;
$darkgrey: #515748;
$black: #27332D;
$light-black: #0f0f0f;
$blue: #118DF0;
$red: #CB0101;
$font-normal: 14px;
$font-big: 24px;
$font: 'Roboto', sans-serif;

a.blue {
  color: $blue;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.music-box {

  & > * {
      margin-bottom: 15px;
  }

  .buttons-group {
    a {
      padding: 3px 0px;
      line-height: 35px;
      background-color: $light-black;
      color: #efefef;
      display: block;
      margin-bottom: 2px;

      &:hover {
        background-color: #0a0a0a;
      }
    }
  }
}

.table {
  background-color: $light-black;

  .table-header {
    color: $darkgrey;
    font-size: $font-normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 0px;
    & > div {
      border-right: 1px solid black;
      padding: 5px 15px;
    }
  }

  .table-line {
    padding:3px 0px;
    line-height: 35px;
    background-color: $light-black;
    text-transform: capitalize;
    color: $white;

    i {
      color: $yellow;
    }

    &:hover {
      background-color: #0a0a0a;
    }

    .links-group {
      display: flex;
      justify-content: space-between;

      img {
        height: 20px;
      }
    }

    .music-name {
      font-size: $font-normal;
    }
  }
}

.buttons-group > * {
  margin-right: 5px;
}

.spread-content {
  display: flex;
  justify-content: space-around;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  a {
    text-decoration: none;
    color: $yellow;

    &:first-child {
      margin-right: 25px;
    }
  }

  span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  span:hover:before {
    content: "\2605";
    position: absolute;
  }

  a:hover ~ a:before {
    content: "\2605" !important;
    position: absolute !important;
  }
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}

.left-column {
  padding-top:20px;
  padding-bottom: 20px;
  background-color: $light-black;
  border-color: #1f1f1f;
  color: #efefef;
  margin-top: 54px;

  h2 {
    color: $darkgrey;
  }
}

.lists {
  font-size: $font-normal;
  margin-bottom: 40px;
}
.lists tr {
  line-height: 40px;
  border-bottom: 1px solid #1f1f1f;

  &:first-child {
    border-top: 1px solid #1f1f1f;
  }
}

.btn-rounded {
  border-radius: 20px !important;
}

.btn {
  padding: 6px 20px !important;
  color: #dcdcdc;
  background-color: $darker;
  border: none;
  text-transform: uppercase;

  &.btn-full-width {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  &:hover, &:active {
    background-color: $darker;
    color: #dcdcdc;
  }

  &.btn-red {
    color: $red;
  }
}

.row {
  margin: 0px !important;
}

h1 {
  padding: 15px 0px;
  font-size: 34px;
  text-align: center;
  padding: 15px 0px;
  font-size: 34px;
}

#music_show {
  text-align: center;

  .music-name {
    padding: 15px 0px;
    font-size: 34px;
  }

  .music-content {
    margin-top: 40px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  background-color: #000;
  border: 1px solid #171717;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  outline: 0;

  &[type='checkbox'] {
    width: inherit !important;
    vertical-align: middle;
  }
}

select {
  background-color: #000;
  border: 1px solid #171717;
  padding: 5px 10px;
  width: 100%;
  outline: 0;
}

label {
  color: $darkgrey;
  font-weight: normal !important;
}

.field {
  margin-bottom: 15px;

  i {
    color: $darkgrey;
    font-style: italic;
  }
}

.form-wrapper {
  max-width: 480px;
  margin: auto;
  background-color: #0b0b0b;
  padding: 30px 50px;

  h2 {
    text-align: center;
  }
}

.search {
  .input-group-addon {
    background-color: $light-black;
    border-color: #191919;
  }

  input {
    border-right: none;
    border-color: #191919;
    border-radius: 5px 0px 0px 5px !important;
    padding: 8px 15px;
    background-color: $light-black;
  }

  button, i {
    background-color: $light-black;
  }
}

.navbar-form {
  width: 100% !important;
}

.devise-links {
  margin-top: 8px;

  a {
    color: $darkgrey;

    &:hover {
      color: $darkgrey;
    }
  }
}

.links-header {
  display: flex;
  justify-content: flex-end;
}

.links-header div.link {
  padding: 8px 15px;
  background-color: $light-black;
  border: 1px solid #191919;
}

.no-margin {
  &[class*="col-"] {
    padding: 0px !important;
  }
}

.control-buttons {
  margin-bottom: 10px;
}

a {
  color: $white;

  &:hover, &:active, &:focus {
    color: $white !important;
    text-decoration: none !important;
    outline: none !important;
  }
}

.errors {
  color: red;
}

.m-10 {
  margin: 10px 0px;
}
