// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$yellow: #FADB3F;
$lightyellow: #e0d98d;
$white: #efefef;
$darker: #444;
$black: #27332D;
$light-black: #0f0f0f;
$font-normal: 14px;
$font-big: 24px;
$darkgrey: #515748;
// $font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font: 'Roboto', sans-serif;

body {
  background-color: #000;
  color: $white;
  font-family: $font;
  font-size: $font-normal;
  letter-spacing: 0.5px;
}

div:after {
    content: " ";
    display: table;
    clear: both;
}

/* TYPOGRAPHY */

h1 {
  font-size: $font-big;
  margin: 10px 0px;
}

h2 {
  font-size: $font-normal;
  margin: 0px 0px 20px 0px;
  font-weight: 300;
}

.highlight {
  color: $yellow;

  &:hover {
    color: $yellow;
  }
}

hr {
  border-top: 1px solid #1f1f1f;
  margin: 10px 0px;
}

small {
  color: $white !important;
}

/* OVERRIDE BOOTSTRAP */
.navbar {
  min-height: 0px;
  margin-bottom: 0px;
}

.navbar-form {
  margin: 0px 0px;
  padding: 0px;
}

.form-control {
  height: 28px;
  padding: 15px 8px;
}

.input-group-addon {
  padding: 0px;

  button {
    background-color: none;
    border: none;
  }
}

p {
    margin: 10px 0px;
}


.pagination {
  float: right;
  margin: 0px 0px 3px 0px;

  a {
    background-color: $light-black !important;
    border: none !important;
    padding: 10px 12px !important;
  }
}

.modal-content {
  background-color: #0b0b0b;

  h2 {
    text-align: center;
  }

  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    padding: 30px 50px;
  }
}

/* SPECIFIC TO DESKTOP */
@media (min-width: 768px) {
  .modal-dialog.small-dialog {
      width: 450px;
  }
}

/* MAIN CONTENT */
div#top {
  color: $white;
  padding: 15px 0px 20px 0px;
  background-color: #000;
}

div.main {
  padding-top:116px;
}

.right-column {
  padding-right: 0px;
}

.logo {

}

.logo-text {
  font-size: $font-big;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  color: #777777;
  vertical-align: middle;
  margin-left: 10px;
}

.darker {
  color: $darker;
}

.turbolinks-progress-bar {
  background-color: #fff;
}
