
<%= form_for(@music) do |f| %>
  <div class="field">
    <%= f.label :name, t('name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :artist, t('artist') %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :genre_id, t('genre') %>
    <%= collection_select(:music, :genre_id, Genre.all, :id, :name) %>
  </div>

  <% if !@music.new_record? %>
    <div class="field">
      <%= f.label :cifra_link, t('chords_link') %>
      <%= f.text_field :cifra_link %>
    </div>

    <div class="field">
      <%= f.label :letras_link, t('lyrics_link') %>
      <%= f.text_field :letras_link %>
    </div>

    <div class="field">
      <%= f.label :youtube_link, t('youtube_id') %>
      <%= f.text_field :youtube_link %>
    </div>

    <div class="field">
      <%= f.label :spotify_track, t('spotify_uri') %>
      <%= f.text_field :spotify_track %>
    </div>
  <% end %>

  <%= f.submit 'Salvar', class: 'btn btn' %>

  <div class="errors text-center m-10">
    <%= @music.errors.full_messages.first if @music.errors.any? %>
  </div>
<% end %>
