
<div class="table">

  <div class="table-header row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-4">
      <%= t('music') %>
    </div>
    <div class="col-xs-3">
      <%= t('artist') %>
    </div>
    <div class="col-xs-2">
      <%= t('genre') %>
    </div>
  </div>

  <% @musics.each do |music| %>

    <div class="row table-line">
      <div class="col-xs-1 buttons-group text-center">
        <% if user_signed_in? %>
          <a class="dropdown-toggle" id="ddLists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">
            <i class="fa fa-list-ul"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="ddLists">

              <% current_user.lists.each do |list| %>
                <li> <%= link_to list.name, add_music_path(list.id, music_id: music) %> </li>
              <% end %>

          </ul>
        <% else %>
          <a id="ddLogin" href="<%= new_user_session_path %>">
            <i class="fa fa-list-ul"></i>
          </a>
        <% end %>
      </div>

      <div class="col-xs-4 nowrap">
        <%= link_to music.name, music_path(music), class: 'highlight music-name' %>
      </div>

      <div class="col-xs-3 nowrap">
        <%= music.artist %>
      </div>

      <div class="col-xs-2">
        <%= music.genre.name %>
      </div>

      <% if user_signed_in? %>

        <div class="col-xs-1 buttons-group">

          <% if @list && is_author? %>
            <%= link_to remove_music_path(@list.id, music_id: music), class: 'control-button remove-button', title: "Remover música dessa lista" do %>
              <i class="fa fa-times"></i>
            <% end %>
          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>
</div>
