<div class="row">
  <%= render 'layouts/sidebar' %>
  <div class="col-xs-9 right-column">

    <div class="row text-right">
      <div class="col-xs-7 no-margin">
        <%= form_tag(musics_path, method: 'get', role: 'search') do %>
          <div class="form-group">
            <div class="input-group search">

              <%= text_field_tag(:q, params[:q], placeholder: t('search_placeholder'), class: 'search') %>

              <div class="input-group-addon">
                <%= button_tag type:'submit' do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-5">
          <%= will_paginate @musics %>
      </div>
    </div>

    <%= render 'music_list' %>

    <div class="row text-right">
      <%= will_paginate @musics %>
    </div>

  </div>
</div>
