<div id="music_show">

  <h1 class='highlight music-name'>
    <%= @music.name %>
  </h1>

  <p><%= @music.artist %> / <%= @music.genre.name %></p>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to edit_music_path(@music), title: t('edit_music') do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>

    <%= link_to music_path(@music), method: 'delete', title: t('delete_music') do %>
      <i class="fa fa-times"></i>
    <% end %>
  <% end %>

  <div class="music-content">
    <div class="col-sm-6 music-box">
      <div class="buttons-group">
        <% @music.resources.each do |resource| %>
          <a href="<%= resource.url %>" target="_blank"><%= resource.name %></a>
        <% end %>
      </div>
      <a data-toggle="modal" data-target="#modalNewResource" href="#" class="highlight">
        <%= t('send_link') %>
      </a>
    </div>

    <div class="col-sm-6">
      <% unless @music.spotify_track.nil? %>
        <div>
          <iframe src="<%= @music.spotify_iframe %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
      <% end %>

      <% unless @music.youtube_link.nil? %>
        <div>
          <iframe width="380" height="300" src="<%= @music.youtube_iframe %>" frameborder="0" allowfullscreen></iframe>
        </div>
      <% end %>

    </div>
  </div>


</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalNewResource">
  <div class="modal-dialog small-dialog">
    <div class="modal-content">
      <div class="form-wrapper">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Enviar Link</h2>



        <% @resource = Resource.new %>
        <%= form_for @resource do |f| %>
          <div class="field">
            <%= f.label :name, 'Nome' %>
            <%= f.text_field :name, class: 'std-input' %>
          </div>
          <div class="field">
            <%= f.label :url, 'Url:' %>
            <%= f.text_field :url, class: 'std-input' %>
          </div>

          <%= f.hidden_field :music_id, value: @music.id  %>
          <div class="actions">
              <%= f.submit 'Salvar', class: 'btn btn' %>
          </div>


        <% end %>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
