<div class="modal fade" tabindex="-1" role="dialog" id="modalNewList">
  <div class="modal-dialog small-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><%= t('new_list') %></h2>
      </div>
      <div class="modal-body">
        <% @modal_list = List.new %>

        <%= form_for @modal_list do |f| %>
          <div class="field">
            <%= f.label :name, t('name') %>
            <%= f.text_field :name %>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" for="is_public"> <%= t('public_list') %>
            </label>
          </div>

          <%= f.submit t('save'), class: 'btn btn' %>

        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
