<div class="modal fade" tabindex="-1" role="dialog" id="modalNewMusic">
  <div class="modal-dialog small-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><%= t('send_music') %></h2>
      </div>
      <div class="modal-body">
        <% @music = Music.new %>

        <%= form_for(@music) do |f| %>
          <div class="field">
            <%= f.label :name, t('name') %>
            <%= f.text_field :name %>
          </div>

          <div class="field">
            <%= f.label :artist, t('artist') %>
            <%= f.text_field :artist %>
          </div>

          <div class="field">
            <%= f.label :artist, t('genre') %>
            <%= collection_select(:music, :genre_id, Genre.all, :id, :name) %>
          </div>

          <% if !@music.new_record? %>
            <div class="field">
              <%= f.label :cifra_link, t('chords') %>
              <%= f.text_field :cifra_link %>
            </div>

            <div class="field">
              <%= f.label :letras_link, t('lyrics') %>
              <%= f.text_field :letras_link %>
            </div>

            <div class="field">
              <%= f.label :youtube_link, t('youtube_id') %>
              <%= f.text_field :youtube_link %>
            </div>

            <div class="field">
              <%= f.label :spotify_track, t('spotify_uri') %>
              <%= f.text_field :spotify_track %>
            </div>
          <% end %>

          <%= f.submit t('save'), class: 'btn btn' %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
