<%= render 'layouts/add_music' %>

<header>
  <div class="container navbar navbar-fixed-top" id="top">
    <div class="row">
      <div class="col-xs-3 text-center">
        <!-- <a href="/">LOGO</a> -->
        <%= link_to '/' do %>
          <%= image_tag 'logo3.png', alt: 'maitabs', class: 'logo' %>

          <span class="logo-text">
            maitabs
          </span>
        <% end %>
      </div>
      <div class="col-xs-9 hidden-xs">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
          <div class="links-header">

            <div class="link">
              <!-- <%= link_to "Enviar Música", new_music_path, class:'highlight' %> -->
              <a data-toggle="modal" data-target="#modalNewMusic" href="#" class="highlight">
                <%= t('send_music') %>
              </a>
            </div>

            <% if(current_user) %>
              <div class="link">
                <%= link_to t('my_account'), edit_user_registration_path %>
              </div>
              <div class="link">
                <%= link_to t('logout'), destroy_user_session_path, method: "delete" %>
              </div>
            <% else %>
              <div class="link">
                <%= link_to t('login'), new_user_session_path %>
              </div>
              <div class="link">
                <%= link_to t('register'), new_user_registration_path %>
              </div>
            <% end %>

          </div>

        </div>

      </div>
    </div>
  </div>
</header>
