<%= render 'layouts/add_list' %>

<div class="col-xs-3 left-column">

  <% if user_signed_in? %>

    <h2><%= t('my_lists') %></h2>

    <table width="100%" class="lists">
      <% @user_lists.each do |list| %>

        <tr>
          <td>
            <%= link_to list_path(list) do %>
              <%= list.name %>
            <% end %>
          </td>
          <td class="text-right">
            <%= link_to edit_list_path(list) do %>
              <i class="fa fa-edit darker"></i>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>

    <a data-toggle="modal" data-target="#modalNewList" href="#" class="btn btn-full-width">
      <%= t('new_list') %>
    </a>
  <% else %>
    <%= t('login_to_create_lists_html', link_to_login: link_to('login', new_user_session_path, class: 'blue')) %>
    <!-- Faça <%= link_to 'login', new_user_session_path, class: 'blue' %> para criar suas listas. -->
  <% end %>


</div>
